*, *:after, *:before{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;}
.clearfix:before, .clearfix:after{content:" ";display:table;}
.clearfix:after{clear:both;}
.codrops-top{background:#fff;background:rgba(255, 255, 255, 0.6);text-transform:uppercase;width:100%;font-size:0.69em;line-height:2.2;}
.codrops-top a{padding:0 1em;letter-spacing:0.1em;color:#888;display:inline-block;}
.codrops-top a:hover{background:rgba(255,255,255,0.95);color:#333;}
.codrops-top span.right{float:right;}
.codrops-top span.right a{float:left;display:block;}
.codrops-icon:before{font-family:'codropsicons';margin:0 4px;speak:none;font-style:normal;font-weight:normal;font-variant:normal;text-transform:none;line-height:1;-webkit-font-smoothing:antialiased;}
.codrops-icon-drop:before{content:"\e001";}
.codrops-icon-prev:before{content:"\e004";}
.codrops-icon-archive:before{content:"\e002";}
.codrops-icon-next:before{content:"\e000";}
.codrops-icon-about:before{content:"\e003";}
.codrops-demos{padding-top:1em;font-size:0.9em;}
.codrops-demos a{display:inline-block;margin:0.5em;padding:0.7em 1.1em;border:3px solid #b3b9bf;color:#b3b9bf;font-weight:700;}
.codrops-demos a:hover,
.codrops-demos a.current-demo,
.codrops-demos a.current-demo:hover{border-color:#2c3f52;color:#2c3f52;}
@media screen and (max-width:25em){.codrops-icon span{display:none;}
}
.tab-content img{margin:0 15px 10px 0;}
/*.img-w100{width:100%;}*/
iframe{border:0px;}
#map{height:380px;}
#custom-search-form{margin:0;margin-top:5px;padding:0;}
#custom-search-form .search-query{}
#custom-search-form button{border:0;background:none;padding:2px 5px;margin-top:2px;position:relative;left:-28px;margin-bottom:0;-webkit-border-radius:3px;-moz-border-radius:3px;border-radius:3px;}
.search-query:focus + button{z-index:3;}
.search-query:focus{width:260px;}
.video-list-thumbs{}
.video-list-thumbs > li{margin-bottom:12px;}
.video-list-thumbs > li:last-child{}
.video-list-thumbs > li > a{display:block;position:relative;background-color:#111;color:#fff;padding:8px;border-radius:3px
transition:all 500ms ease-in-out;border-radius:4px}
.video-list-thumbs > li > a:hover{box-shadow:0 2px 5px rgba(0,0,0,.3);text-decoration:none}
.video-list-thumbs h2{bottom:0;font-size:14px;height:33px;margin:8px 0 0;}
.video-list-thumbs .glyphicon-play-circle{font-size:60px;opacity:0.6;position:absolute;right:39%;top:31%;text-shadow:0 1px 3px rgba(0,0,0,.5);transition:all 500ms ease-in-out;}
.video-list-thumbs > li > a:hover .glyphicon-play-circle{color:#fff;opacity:1;text-shadow:0 1px 3px rgba(0,0,0,.8);}
.video-list-thumbs .duration{background-color:rgba(0, 0, 0, 0.4);border-radius:2px;color:#fff;font-size:11px;font-weight:bold;left:12px;line-height:13px;padding:2px 3px 1px;position:absolute;top:12px;transition:all 500ms ease;}
.video-list-thumbs > li > a:hover .duration{background-color:#000;}
@media (min-width:320px) and (max-width:480px){.video-list-thumbs .glyphicon-play-circle{font-size:35px;right:36%;top:27%;}
.video-list-thumbs h2{bottom:0;font-size:12px;height:22px;margin:8px 0 0;}
}
.lightbox-nav{position:relative;margin-bottom:12px;height:22px;text-align:center;font-size:0}.lightbox-nav .btn-group{vertical-align:top}.lightbox-nav .close{position:absolute;top:0;right:0}.lightbox-image-container{position:relative;text-align:center}.lightbox-image-caption{position:absolute;top:0;left:0;margin:.5em .9em;color:#000;font-size:1.5em;font-weight:700;text-align:left;text-shadow:.1em .1em .2em rgba(255,255,255,.5)}.lightbox-image-caption span{padding-top:.1em;padding-bottom:.1em;background-color:rgba(255,255,255,.75);box-shadow:.4em 0 0 rgba(255,255,255,.75),-.4em 0 0 rgba(255,255,255,.75)}
.reset-box-sizing, .reset-box-sizing *, .reset-box-sizing *:before, .reset-box-sizing *:after, .gsc-inline-block{-webkit-box-sizing:content-box;-moz-box-sizing:content-box;box-sizing:content-box;}
input.gsc-input, .gsc-input-box, .gsc-input-box-hover, .gsc-input-box-focus, .gsc-search-button{box-sizing:content-box;line-height:normal;}
.modal .modal-dialog{width:90%;margin-left:auto;margin-right:auto;}