html{position:relative;min-height:100%}.required{color:red;font-weight:700}@-ms-viewport{width:device-width}@-o-viewport{width:device-width}@viewport{width:device-width}
.nav-container{z-index:99;position:relative;}
.nav-toggle{display:none;background:#777;cursor:pointer;float:right;height:50px;width:60px;color:#fff;text-align:center;}
.nav-toggle i{font-size:1.75rem;padding:13px 0;}
.nav-text{display:none;position:absolute;left:32px;font-size:1em;line-height:1.5em;padding:13px 20px;}
.nav li > a:after,
.nav > li > a:after{font-family:FontAwesome;display:inline-block;}
.ham__navbar-toggler *:after, .ham__navbar-toggler *:before{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;}
.ham-toggler-menu__span{background:transparent;}
.ham__navbar-toggler{display:none;height:50px;width:60px;float:right;position:relative;text-align:center;z-index:10001;border:none;background:none;margin:0;vertical-align:middle;border-radius:0;cursor:pointer;-webkit-transition:all 0.2s, 0.3s 0.2s;transition:all 0.2s, 0.3s 0.2s;}
.ham__navbar-toggler .ham__navbar-span-wrapper{padding:25px 20px;text-align:center;height:100%;float:right;}
.ham-toggler-menu__span{display:block;width:20px;height:1.5px;position:relative;top:0;vertical-align:bottom;-webkit-transition:all ease 0.15s;transition:all ease 0.15s;}
.collapsed .ham-toggler-menu__span{background:#fff;}
.ham__navbar-toggler.collapsed .ham-toggler-menu__span:before{top:-.375rem;-webkit-transform:rotateZ(0);-moz-transform:rotateZ(0);-ms-transform:rotateZ(0);transform:rotateZ(0);background:#fff;}
.ham__navbar-toggler .ham-toggler-menu__span:before{-webkit-transform:rotateZ(-45deg);-moz-transform:rotateZ(-45deg);-ms-transform:rotateZ(-45deg);transform:rotateZ(-45deg);background:#fff;}
.ham__navbar-toggler.collapsed .ham-toggler-menu__span:after{top:.375rem;-webkit-transform:rotateZ(0);-moz-transform:rotateZ(0);-ms-transform:rotateZ(0);transform:rotateZ(0);background:#fff;}
.ham__navbar-toggler .ham-toggler-menu__span:after{-webkit-transform:rotateZ(45deg);-moz-transform:rotateZ(45deg);-ms-transform:rotateZ(45deg);transform:rotateZ(45deg);background:#fff;}
.ham-toggler-menu__span:before, .ham-toggler-menu__span:after{position:absolute;content:'';display:inline-block;width:inherit;height:inherit;outline:.075rem solid transparent;left:0;-webkit-border-radius:5px;-webkit-background-clip:padding-box;-moz-border-radius:5px;-moz-background-clip:padding;border-radius:5px;background-clip:padding-box;-webkit-transition:all ease 0.35s;transition:all ease 0.35s;}
.ham__navbar-toggler-two{display:none;height:50px;width:50px;float:left;position:relative;text-align:center;z-index:10001;border:none;background:none;margin:0;vertical-align:middle;border-radius:0;cursor:pointer;}
.ham__navbar-toggler-two .ham__navbar-span-wrapper{padding:0 20px;height:12px;margin:19px 5px;position:relative;}
.ham__navbar-toggler-two .line{display:block;background:#cecece;width:20px;height:1.5px;position:absolute;left:10px;-webkit-border-radius:5px;-webkit-background-clip:padding-box;-moz-border-radius:5px;-moz-background-clip:padding;border-radius:5px;background-clip:padding-box;-webkit-transition:all ease 0.35s;-moz-transition:all ease 0.35s;-o-transition:all ease 0.35s;transition:all ease 0.35s;-webkit-backface-visibility:hidden;backface-visibility:hidden;}
#nav-bottom .ham__navbar-toggler-two .line{background:#333;}
#footer .ham__navbar-toggler-two .line{background:#444;}
.ham__navbar-toggler-two .line.line-1{top:0;}
.ham__navbar-toggler-two .line.line-2{top:50%;}
.ham__navbar-toggler-two .line.line-3{top:100%;}
.ham__navbar-toggler-two.hovering .line{-webkit-transform:translateX(-3px);-moz-transform:translateX(-3px);transform:translateX(-3px);width:26px;}
.ham__navbar-toggler-two.active .line-1{-webkit-transform:translateY(6px) translateX(-3px) rotate(45deg);-moz-transform:translateY(6px) translateX(-3px) rotate(45deg);transform:translateY(6px) translateX(-3px) rotate(45deg);width:28px;}
.ham__navbar-toggler-two.active .line-2{opacity:0;}
.ham__navbar-toggler-two.active .line-3{-webkit-transform:translateY(-6px) translateX(-3px) rotate(-45deg);-moz-transform:translateY(-6px) translateX(-3px) rotate(-45deg);transform:translateY(-6px) translateX(-3px) rotate(-45deg);width:28px;}
.ham__navbar-toggler-two.hovering .line, .ham__navbar-toggler-two.focusing .line, .ham__navbar-toggler-two.active .line{background:#fff;}
#footer .ham__navbar-toggler-two.hovering .line, #footer .ham__navbar-toggler-two.focusing .line, #footer .ham__navbar-toggler-two.active .line{background:#000;}
@media only screen and (min-width:720px){#header .nav-container .nav{display:block!important}
.nav-wrap{height:auto!important;}
.nav{font-size:0em;position:relative;}
.nav li a{color:#ccc;display:block;line-height:20px;}
.nav li > a:after{content:"\f0da";float:right;opacity:0.5;}
.nav > li > a:after{content:"\f0d7";float:none;margin-left:6px;font-size:0.875em;line-height:1.2em;}
.nav li > a:only-child:after{content:"";margin:0;}
#footer .nav li > a:after{content:"\f0da";}
#footer .nav > li > a:after{content:"\f0d8";}
#footer .nav li > a:only-child:after{content:"";}
.nav > li{font-size:13px;display:inline-block;position:relative;}
.nav > li > a{padding:15px 10px;}
.nav > li > a:hover,
.nav > li:hover > a{background:#777;}
.nav li > a:hover,
.nav li:hover > a,
.nav li.current_page_item > a,
.nav li.current-menu-item > a,
.nav li.current-menu-ancestor > a,
.nav li.current-post-parent > a{color:#fff;}
.nav li:hover > ul{display:block;}
.nav ul{display:none;background:#777;position:absolute;left:0;top:50px;width:180px;padding:10px 0;z-index:2;-webkit-transform:translateZ(0);-webkit-box-shadow:0 2px 2px rgba(0,0,0,0.15);box-shadow:0 2px 2px rgba(0,0,0,0.15);}
.nav ul li{font-size:13px;position:relative;display:block;padding:0;}
.nav ul li a{padding:10px;}
.nav ul li:last-child{border-bottom:0!important;}
.nav ul ul{position:absolute;top:-10px;left:180px;}
}
@media only screen and (max-width:719px){#header .nav-container .nav, #footer .nav-container .nav{display:none;}
.nav{font-weight:400;}
.nav-container{text-transform:none;}
.nav-toggle, .ham__navbar-toggler, .nav-text, .ham__navbar-toggler-two{display:block;}
.nav-wrap{position:relative;float:left;width:100%;overflow:hidden;}
.nav-wrap.transition{-webkit-transition:height 0.35s ease;-moz-transition:height 0.35s ease;-o-transition:height 0.35s ease;transition:height 0.35s ease;}
.expand .nav-wrap{height:auto;}
.safari .nav-wrap.transition{-webkit-transition:none;transition:none;}
.nav{float:left;width:100%;}
.nav li a{line-height:1.6em;display:block;padding:8px 20px;}
.nav li li a{padding-left:15px;padding-right:15px;}
.nav li > a:after{content:'\f0d7';opacity:0.1;margin-left:6px;font-size:0.6rem;}
.nav > li > a:after{content:'\f0d7';font-size:0.6rem;}
.nav li > a:only-child:after{content:'';}
.nav > li{font-size:13px;}
.nav li > a:hover,
.nav li.current_page_item > a,
.nav li.current-menu-item > a,
.nav li.current-post-parent > a{color:#fff;}
.nav ul{display:block!important;}
.nav ul li{font-size:13px;font-weight:300;}
.nav ul li a{padding-top:6px;padding-bottom:6px;}
}
#wrapper, .container-inner{min-width:320px;}
.container-inner{max-width:1080px;}
.container-inner{width:100%;margin:0 auto;}
#header{position:relative;padding-bottom:60px;}
#header .pad{padding-top:30px;padding-bottom:30px;}
#header, #header .container-inner{position:relative;}
.mobile-title-logo-in-header{display:none;}
.site-title{font-size:2.625em;font-weight:600;letter-spacing:-0.5px;float:left;line-height:1.4285em;padding:10px 0;}
.site-title a{display:block;color:#fff;max-width:100%;}
.site-title a img{display:block;max-width:100%;max-height:60px;height:auto;padding:0;margin:0 auto;-webkit-border-radius:0;border-radius:0;}
.site-description{font-size:1em;font-style:italic;color:#fff;color:rgba(255,255,255,0.5);float:left;margin-left:20px;line-height:60px;padding:10px 0;}
.site-image{display:block;margin:0 auto;max-height:400px;}
#header-widgets{display:none;}
#header-widgets img{display:block;}
.toggle-search{color:#fff;font-size:18px;line-height:24px;cursor:pointer;padding:13px 20px;display:block;position:absolute;right:0;top:-50px;-webkit-box-shadow:-1px 0 0 rgba(255,255,255,0.1);box-shadow:-1px 0 0 rgba(255,255,255,0.1);}
.toggle-login{display:block;position:absolute;right:80px;top:-40px;}
.toggle-search:hover,
.toggle-search.active{background:rgba(0,0,0,0.15);color:#fff;}
.search-expand{display:none;background:#121d30;position:absolute;top:0;right:0;width:340px;-webkit-box-shadow:0 1px 0 rgba(255,255,255,0.1);box-shadow:0 1px 0 rgba(255,255,255,0.1);}
.search-expand-inner{background:rgba(0,0,0,0.15);padding:15px;}
.search-expand .themeform input{width:100%;border:2px solid #e2e2e2;border-radius:0;}
.search-expand .themeform input:focus{}
#header .nav-container.mobile-sticky{background-color:#454e5c;}
#nav-topbar.nav-container{-webkit-transition:-webkit-transform 0.35s ease-in-out, height 0.25s ease-in-out, background-color 0.45s ease-in-out;-moz-transition:-moz-transform 0.35s ease-in-out, height 0.25s ease-in-out, background-color 0.45s ease-in-out;-o-transition:-o-transform 0.35s ease-in-out, height 0.25s ease-in-out, background-color 0.45s ease-in-out;transition:transform 0.35s ease-in-out, height 0.25s ease-in-out, background-color 0.45s ease-in-out;}
#nav-topbar .nav-toggle{background:transparent;color:#fff;-webkit-box-shadow:inset 1px 0 0 rgba(255,255,255,0.06);box-shadow:inset 1px 0 0 rgba(255,255,255,0.06);}
#nav-topbar .nav-text{color:#fff;color:rgba(255,255,255,0.7);}
.topbar-toggle-down{position:absolute;z-index:10;right:0;width:60px;height:50px;text-align:center;cursor:pointer;display:none;}
.topbar-toggle-down i.fa-angle-double-up{display:none;}
.topbar-toggle-down i{font-size:38px;color:#fff;padding:6px 0;-webkit-transition:-webkit-transform, opacity, .25s ease;-moz-transition:-moz-transform, opacity, .25s ease;-o-transition:-o-transform, opacity, .25s ease;transition:transform, opacity, .25s ease;opacity:0.6;}
.topbar-toggle-down i[data-toggle="down"]:hover{-webkit-transform:translateY(3px);-moz-transform:translateY(3px);-o-transform:translateY(3px);transform:translateY(3px);opacity:1;}
.topbar-toggle-down i[data-toggle="up"]:hover{-webkit-transform:translateY(-3px);-moz-transform:translateY(-3px);-o-transform:translateY(-3px);transform:translateY(-3px);opacity:1;}
@media only screen and (min-width:720px){#nav-topbar .nav{}
#nav-topbar .nav li a{color:#fff;color:rgba(255,255,255,0.9);}
#nav-topbar .nav > li{border-right:none;}
#nav-topbar .nav > li > a:hover,
#nav-topbar .nav > li:hover > a{background-color:#ed195a;}
#nav-topbar .nav li > a:hover,
#nav-topbar .nav li:hover > a,
#nav-topbar .nav li.current_page_item > a,
#nav-topbar .nav li.current-menu-item > a,
#nav-topbar .nav li.current-menu-ancestor > a,
#nav-topbar .nav li.current-post-parent > a{color:#fff;}
#nav-topbar .nav ul{background:#33363b;}
.is-scrolled #nav-topbar.desktop-sticky .nav ul{background-color:rgba(0, 0, 0, 0.70);}
#nav-topbar .nav ul li{box-shadow:0 1px 0 rgba(255,255,255,0.06);-webkit-box-shadow:0 1px 0 rgba(255,255,255,0.06);}
#nav-topbar .nav ul li:last-child{box-shadow:none;-webkit-box-shadow:none;}
#nav-topbar.desktop-sticky{height:50px;overflow:hidden;}
.nav ul.sub-menu{opacity:0.5;display:none;-webkit-transition:opacity 0.3s ease-in-out;-moz-transition:opacity 0.3s ease-in-out;-o-transition:opacity 0.3s ease-in-out;transition:opacity 0.3s ease-in-out;}
.header-ads-desktop #header-widgets{float:right;display:block;}
}
@media only screen and (max-width:719px){#header{z-index:9999}
#header .container{padding:0px !important;}
#nav-topbar .container{padding-left:0;}
#nav-topbar .nav li a{color:#fff;color:rgba(255,255,255,0.8);border-top:1px solid rgba(255,255,255,0.06);}
#nav-topbar .nav li > a:hover{background:rgba(0,0,0,0.15);color:#fff;}
#nav-topbar .nav li.current_page_item > a,
#nav-topbar .nav li.current-menu-item > a,
#nav-topbar .nav li.current-post-parent > a{background:rgba(0,0,0,0.15);color:#fff;}
#nav-bottom{margin-bottom:40px;}
.header-ads-mobile #header-widgets{float:none;display:block;text-align:center;top:50px;position:relative;}
.both-menus-mobile-on.header-ads-mobile #header-widgets{top:0;}
#header .logo-tagline-group{display:none;}
#header.both-menus-mobile-on .logo-tagline-group{display:block;}
#menu-sidebar-menu{display:none;}
}
@media only screen and (max-width:719px){#header .mobile-title-logo-in-header{display:block;float:left;height:50px;line-height:50px;width:75vw;position:relative;}
.header-desktop-sticky.topbar-enabled #header{height:auto !important;}
.both-menus-mobile-on .mobile-title-logo-in-header{display:none!important;}
#header .mobile-title-logo-in-header .site-title{height:100%;width:auto;z-index:3;overflow:hidden;left:13px;position:relative;max-width:72vw;line-height:inherit;padding:0;}
#header .mobile-title-logo-in-header .site-title a img{max-height:45px;max-width:75%;margin:inherit;}
#header .mobile-title-logo-in-header .site-title a{font-size:0.6em;text-align:left;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;vertical-align:middle;display:inline-block;top:50%;-webkit-transform:translateY(-50%);-moz-transform:translateY(-50%);-o-transform:translateY(-50%);transform:translateY(-50%);position:absolute;}
.both-menus-mobile-on #nav-topbar, .both-menus-mobile-on #nav-header{display:block;}
.top-menu-mobile-on #nav-topbar .toggle-search{display:none;}
}
#nav-header.nav-container{background:#BDD5EA;z-index:97;}
#nav-header .container{padding:0 15px;}
#nav-header .nav-toggle{background:transparent;color:#fff;-webkit-box-shadow:inset 1px 0 0 rgba(255,255,255,0.05), -1px 0 0 rgba(0,0,0,0.2);box-shadow:inset 1px 0 0 rgba(255,255,255,0.05), -1px 0 0 rgba(0,0,0,0.2);}
#nav-header .nav-text{color:#333;}
#nav-bottom{background:#BDD5EA;-webkit-box-shadow:0 3px 6px rgba(22, 32, 32, 0.16), 0 3px 6px rgba(22, 32, 32, 0.23);box-shadow:0 3px 6px rgba(22, 32, 32, 0.16), 0 3px 6px rgba(22, 32, 32, 0.23);float:left;width:100%;margin-bottom:20px;}
.is-scrolled #header .nav-container.mobile-sticky, .is-scrolled #header .nav-container.desktop-sticky, .is-scrolled #header .search-expand{background-color:rgba(56, 56, 58, 0.9);}
.is-scrolled #header .sticky-visible{-webkit-box-shadow:0px 1px 4px 1px rgba(0, 0, 0, 0.3);-moz-box-shadow:0px 1px 4px 1px rgba(0, 0, 0, 0.3);box-shadow:0px 1px 4px 1px rgba(0, 0, 0, 0.3);}
.mobile-menu{display:none;}
.mobile-menu .mobile-search{width:96%;padding:10px 2%!important;}
.mobile-menu .mobile-search input.search{width:100%}
@media only screen and (max-width:719px){.mobile-menu{display:block;}
.languagebar{margin-top:0px !important;}
.navbar{margin-bottom:0px !important;}
.desktop-menu{display:none;}
.toggle-search{left:auto;right:0;top:0;box-shadow:1px 0 0 rgba(255,255,255,.1);}
.toggle-login{left:auto;right:80px;top:10px;}
.fixed-header-on .mobile-sticky{position:fixed;width:100%;-webkit-transition:-webkit-transform 0.35s ease-in-out,background-color 0.4s ease-in-out;-moz-transition:-moz-transform 0.35s ease-in-out,background-color 0.4s ease-in-out;-o-transition:-o-transform 0.35s ease-in-out,background-color 0.4s ease-in-out;transition:-webkit-transform 0.35s ease-in-out,-moz-transform 0.35s ease-in-out,-o-transform 0.35s ease-in-out,transform 0.35s ease-in-out,background-color 0.4s ease-in-out;}
.fixed-header-on .mobile-sticky.fast{-webkit-transition:-webkit-transform 0.10s ease-in-out,background-color 0.4s ease-in-out;-moz-transition:-moz-transform 0.10s ease-in-out,background-color 0.4s ease-in-out;-o-transition:-o-transform 0.10s ease-in-out,background-color 0.4s ease-in-out;transition:-webkit-transform 0.10s ease-in-out,-moz-transform 0.10s ease-in-out,-o-transform 0.10s ease-in-out,transform 0.10s ease-in-out,background-color 0.4s ease-in-out;}
}
@media only screen and (min-width:720px){.header-desktop-sticky.topbar-enabled #header{padding-top:50px;}
.header-desktop-sticky #nav-topbar.nav-container{position:fixed;z-index:999;top:0;}
.header-desktop-sticky.admin-bar #nav-topbar.nav-container{top:32px;}
.full-width #nav-topbar.nav-container{width:100%;top:0;left:0;right:0;}
.fixed-header-on .desktop-sticky{position:fixed;}
.full-width .fixed-header-on .desktop-sticky{width:100%;}
.boxed .fixed-header-on .desktop-sticky{width:1380px;}
.fixed-header-on .topbar-toggle-down{-webkit-transition:background-color 0.4s ease-in-out;-moz-transition:background-color 0.4s ease-in-out;-o-transition:background-color 0.4s ease-in-out;transition:background-color 0.4s ease-in-out;}
}
@media only screen and (min-width:720px){#nav-header .nav{}
#nav-header .nav li a{color:#333;}
#nav-header .nav > li{border-right:none;}
#nav-header .nav > li > a:hover,
#nav-header .nav > li:hover > a{background:rgba(0,0,0,0.1);}
#nav-header .nav li > a:hover,
#nav-header .nav li:hover > a,
#nav-header .nav li.current_page_item > a,
#nav-header .nav li.current-menu-item > a,
#nav-header .nav li.current-menu-ancestor > a,
#nav-header .nav li.current-post-parent > a{color:#fff;}
#nav-header .nav ul{background:#454e5c;}
#nav-header .nav ul li{box-shadow:0 1px 0 rgba(255,255,255,0.06);-webkit-box-shadow:0 1px 0 rgba(255,255,255,0.06);}
#nav-header .nav ul li:last-child{box-shadow:none;-webkit-box-shadow:none;}
}
@media only screen and (max-width:719px){#nav-header.nav-container{border-left:0;border-right:0;}
#nav-header .container{padding:0;}
#nav-header .nav{padding-bottom:20px;}
#nav-header .nav li a{color:#333;border-top:1px solid rgba(255,255,255,0.06);}
#nav-header .nav li > a:hover{background:rgba(0,0,0,0.15);color:#fff;}
#nav-header .nav li.current_page_item > a,
#nav-header .nav li.current-menu-item > a,
#nav-header .nav li.current-post-parent > a{text-decoration:underline;color:#fff;}
#header-image-wrap{position:relative;top:50px;}
}