/* reset */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,button,textarea,p,blockquote,th,td{padding:0;margin:0;}
ol,ul{list-style:none;}
h1,h2,h3,h4,h5,h6{font-weight:400;font-size:100%;} 
input,textarea,select,button,option{font-family:inherit;font-size:inherit;font-weight:inherit;}

/* global */
body{font-size:12px; font-family:"Microsoft Yahei",Arial, Helvetica, sans-serif;color:#4D4D4D;background:#FFFFFF;}
a{color:#2464B2;text-decoration:none;}
a:hover{text-decoration:underline;}

img{border:0;}
em{color:#F00; font-style:normal;}
h3{margin:0; padding:0; font-size:14px;}
ul,li{list-style:none;margin:0; padding:0;}
p,form,div,h2,h4{margin:0; padding:0}
*{margin:0; padding:0;}
b{font-weight:bold;}
.red{color:#F00;}
.blue{color:#00F;}
.green{color:#008000;}
.cl{clear:both; overflow:hidden; height:0px;}
.cl5{clear:both; overflow:hidden; height:5px;}
.cl8{clear:both; overflow:hidden; height:8px;}
.cl10{clear:both; overflow:hidden; height:10px;}
input,button,select,textarea{outline:none}
*,*::before,*::after {
    outline: none;
    box-sizing: border-box;
    -moz-box-sizing:border-box; /* Firefox */
    -webkit-box-sizing:border-box; /* Safari */
}

#wrap{ margin:5px auto;}

#menu{
    margin: 5px; padding: 10px 0; border-top: 1px solid #EBEBEB;border-bottom: 1px solid #EBEBEB;
}
#menu li{ width: 25%;
    float: left; padding: 2px}
#menu li a{ display: block; border: 1px solid #EAEEF3; background-color: #EFF3F8; height: 25px; line-height: 25px; text-align: center; -moz-border-radius: 5px;  -webkit-border-radius: 5px;  border-radius:5px; }
#menu li a.this{ background-color: #1A4E95; color: #FFFFFF;border: 1px solid #1A4E95;}

#main{ margin: 5px;}

.hd_box{border:#BFD2E1 1px solid; overflow:hidden; margin-bottom: 5px;}
.hd_box h3{ height:25px; background:url(nav-2.gif) repeat-x 0 -107px; border-bottom:1px solid #BFD2E1; color:#1C4F96;letter-spacing:1px;}
.hd_box h3 .title{display:inline-block; float:left; background:url(images-2.gif) no-repeat 5px 3px; padding-left:20px; line-height:25px;color:#1C4F96}
.hd_box h3 .title a{color:#1C4F96}
.hd_box h3 .more{display:inline-block; float:right; margin:6px 8px 0 0; color:#999}
.hd_box ul.alist{margin:6px 8px 5px 8px;}
.hd_box ul.alist li{overflow:hidden; background:url(images-2.gif) no-repeat -297px 8px; padding-left:10px; line-height:18px; height:23px;}

.hd_box ul.alist li a{display:block; float:left;}
.hd_box ul.alist li .date{display:block; float:right; color:#9A9A9A}
.hd_box ul.nav2 li{width:131px; display:inline; float:left}

/*内容区图片列表*/
.hd_box ul.plist{ padding: 10px;}
.hd_box ul.plist li{width:50%; overflow:hidden; display:inline; float:left; padding: 5px; text-align:center}
.hd_box ul.plist li .pic{ margin: 0 auto; display:block; overflow:hidden; margin-bottom:4px; border:1px solid #EBEBEB;}
.hd_box ul.plist li .pic img{width: 100%;}
.hd_box ul.plist li .pic:hover{border:1px solid #FC0}
.hd_box ul.plist li img{width:140px; height:120px;}
.hd_box ul.plist li .text{display:block;}

.post{overflow:hidden; padding-bottom:3px; margin-bottom:10px;}
.post h1{ font-size: 22px; line-height: 26px; text-align: center; padding: 8px 0;}
.post h1 a{display:block; float:left; color:#204E7D; font-size:14px;}
.post h1 .date{display:block; float:right; font-weight:normal; color:#666}

.post .con{margin-bottom:5px; overflow:hidden}
.post .head{ height:25px; background:url(nav-2.gif) repeat-x 0 -107px; border-bottom:1px solid #BFD2E1; color:#1C4F96;letter-spacing:1px;}
.post .head .title{display:inline-block; float:left; margin:5px 0 0 8px;color:#1C4F96}
.post .head .title a{color:#1C4F96; font-size:12px;}
.post .head .title a.me{font-weight:bold;}
.post .hd_content{margin:8px;}
.post .info{height:18px;}

h2.title{font-size:16px; text-align:center; margin:15px auto 10px auto;}
.post_info{color:#999; text-align:center;margin-bottom:10px; border-bottom:1px #CCC dashed; padding-bottom:5px;}
.post{ margin:2px 2px 10px 2px; line-height:26px; font-size:14px;}
.next{clear:both; margin:20px 0 10px 0; font-size:14px; line-height:20px;}

.post p{ text-indent: 2em; margin-bottom: 5px;}

#footer{ line-height:30px; margin-top: 15px;  border-top:1px solid #EBEBEB; color:#999999; text-align:center; clear:both;}
