.navbar-wrapper{position:absolute;top:0;right:0;left:0;z-index:20;}
.navbar-wrapper > .container{padding-right:0;padding-left:0;}
.navbar-wrapper .navbar{padding-right:15px;padding-left:15px;}
.navbar-wrapper .navbar .container{width:auto;}
.carousel{height:440px;margin-bottom:60px;}
.carousel-caption{z-index:10;}
.carousel .item{height:500px;background-color:#777;}
/*.carousel-inner > .item > img{position:absolute;bottom:60px;left:0;min-width:100%;height:500px;}*/
.carousel-inner > .item > img{position:absolute;top:0px;left:0;min-width:100%;}
.marketing .col-lg-4{margin-bottom:20px;text-align:center;}
.marketing h2{font-weight:normal;}
.marketing .col-lg-4 p{margin-right:10px;margin-left:10px;}
.featurette-divider{margin:80px 0;}
.featurette-heading{font-weight:300;line-height:1;letter-spacing:-1px;}
@media (min-width:768px){.navbar-wrapper{margin-top:20px;}
.navbar-wrapper .container{padding-right:15px;padding-left:15px;}
.navbar-wrapper .navbar{padding-right:0;padding-left:0;}
.navbar-wrapper .navbar{border-radius:4px;}
.carousel-caption p{margin-bottom:20px;font-size:21px;line-height:1.4;}
.featurette-heading{font-size:50px;}

}
@media (min-width:992px){
    .featurette-heading{margin-top:120px;}
    .carousel-inner {
        position: relative;
        width: 100%;
        overflow: hidden
    }
    .carousel-inner > .item > a > img, .carousel-inner > .item > img, .img-responsive, .thumbnail a > img, .thumbnail > img {
        display: block;
        max-width: 100%;
        height: auto
    }
    .img-w100{width:100%;}
}
.carousel2{height:200px;}
.carousel2-caption{z-index:10;width:66.66666667%;color:#ffffff;}
.carousel2 .item{height:200px;}
.carousel2-inner > .item > img{position:absolute;top:0;bottom:60px;left:0;height:200px;}
.carousel2{position:relative !important;}

@media (max-width:719px){
    .carousel-inner > .item > img {
        position: absolute;
        top: 0px;
        left: -300px;
    }
}

.carousel2 img {
    max-width: 100%;
}