@font-face{font-family:'Roboto';src:url('roboto-light.eot');src:url('roboto-lightd41d.eot?#iefix') format('embedded-opentype'),
url('roboto-light.woff2') format('woff2'),
url('roboto-light.woff') format('woff'),
url('roboto-light.ttf') format('truetype');font-weight:300;font-style:normal;}
body{overflow-x:hidden;font-family:'Roboto', sans-serif;padding:0;margin:0;line-height:1.6;background:#f3f3f3;font-size:13.5px;color:#333;}
.abs{position:absolute;}
.bold{font-weight:bold;}
.date{font-size:90%;color:#0495d2;}
.date2{font-size:13px;color:#707070;}
.date3{font-size:90%;color:#bbb;}
.desc{position:absolute;bottom:0px;width:100%;color:#fff;text-shadow:1px 1px 2px rgba(0, 0, 0, 0.5);}
.desc-content{padding:5px 10px;line-height:15px;}
.form-control{height:30px;font-size:12px;}
.op-75{opacity:0.75;}
.logo{background:url(logo-itb.png) no-repeat;min-height:80px;float:left;padding-left:100px;text-align:left;color:#fff;}
.front{margin-top:-520px;margin-botom:40px;background:rgba(0, 0, 0, 0.35);}
.gallery{background-color:#d1e3ef;background-size:100%;}
.personal{background:#74c4e8;margin-top:50px;height:170px;}
.modal-backdrop.in{opacity:0.9;}
.hilite{margin:0 0 40px 0;position:relative;}
.t-right{text-align:right;vertical-align:text-bottom;}
.fb_iframe_widget, .fb_iframe_widget span, .fb_iframe_widget span iframe[style], .fb_iframe_widget div{width:100% !important;}
.view{font-size:16px;line-height:1.7;}
.intro { margin-top: 100px !important; }
.table-striped > tbody > tr:nth-of-type(2n+1){background:#f2f2f2;}
h1, h2, h3, h4, h5, h6{font-weight:300;}
h1{font-size:30px;}
h2{font-size:24px;}
h3{font-size:20px;}
h4{font-size:16px;}
dd{margin-bottom:15px;}
hr{border-bottom:1px solid #ddd;}
.f-w-300{font-weight:normal;}
a{-webkit-transition:0.2s all;-moz-transition:0.2s all;transition:0.2s all;color:#333;}
a:hover{text-decoration:underline;}
.breadcrumb a{color:#0495d2 !important;}
.id1{background:#33363b;}
.id2{background:#f5f5f5;}
.id2 .navbar-brand{color:#2d2d2d !important;font-weight:bold;font-size:30px;}
.id2 .navbar-brand span{color:#74c4e8;}
.header{padding:10px 0px;position:relative;}
.header h1, .intro h2{color:#e2dd2d;text-shadow:1px 1px 1px #000;}
#header-search .btn-info { background: #f7941d; color: #fff; border-color: #f7941d; }
.control a{color:#cc0 !important;}
.slide-image{width:100%;}
.carousel{margin-bottom:60px !important;}
.carousel-caption{text-align:left;left:55%;right:15%;padding-bottom:90px;}
.carousel-caption h2{background:rgba(0, 0, 0, 0.3);padding:15px;}
.carousel-caption p{font-size:13px !important;}
.carousel-holder{margin-bottom:30px;}
.carousel-control, .item{}
.carousel .item{height:560px; ackground:none !important;}
/*.carousel-inner > .item > img{min-width:0 !important;bottom:0px !important;height:560px !important;}*/
.carousel-inner > .item > img{min-width:0 !important;bottom:0px !important;}
.carousel2, .carousel2 .item{height:auto !important;}
.carousel2-caption{left:15%;right:15%;}
.carousel2-caption h2{background:rgba(0, 0, 0, 0.3);padding:5px;}
#myCarousel2 { height: auto !important; }
#myCarousel2 .carousel .item { height: 500px;}
.caption{height:50px;overflow:hidden;}
.index .caption{height:auto;}
.img-responsive { max-width: 100%; }
.search-expand{display:none;background:#3384c3;position:absolute;right:0;width:280px;-webkit-box-shadow:0px 5px 6px 0px rgba(0,0,0,0.5);-moz-box-shadow:0px 5px 6px 0px rgba(0,0,0,0.5);box-shadow:0px 5px 6px 0px rgba(0,0,0,0.5);z-index:999999;}
.search-expand-inner{padding:15px;color:#fff;}
.search-expand .themeform input{width:100%;border:2px solid #e2e2e2;border-radius:0;}
.search-expand .themeform input:focus{}
.toggle-search{color:#cc0;font-size:13px;line-height:24px;cursor:pointer;padding:14px 10px 12px 10px;display:block;}
.toggle-search:hover, .toggle-search.active{background:#3384c3;color:#fff;}
.reset-box-sizing, .reset-box-sizing *, .reset-box-sizing *:before, .reset-box-sizing *:after, .gsc-inline-block{-webkit-box-sizing:content-box;-moz-box-sizing:content-box;box-sizing:content-box;}
input.gsc-input, .gsc-input-box, .gsc-input-box-hover, .gsc-input-box-focus, .gsc-search-button{box-sizing:content-box;line-height:normal;}
.modal .modal-dialog{width:90%;margin-left:auto;margin-right:auto;}
.navbar{border-radius:0px;border:none;min-height:0px;margin-bottom:0px;}
#main-news h2::before, #main-agenda h2::before, #main-multimedia h2::before, #main-foto h2::before, .cat-title::before{background-color:#007bc7;bottom:-0.0625em;content:"";height:2px;left:0;position:absolute;width:2.84375em;}
#main-news h2, #main-agenda h2, #main-multimedia h2, #main-foto h2, .cat-title{border-bottom:2px solid #e3e6e7;padding-bottom:0.75em;position:relative; font-weight: 700;}
#main-news h4{line-height:1.3;margin:0px;}
#main-news, #main-agenda, #main-multimedia, #main-foto{padding:10px 0px 0px;}
#main-public a { color: #fff; }
#main-public a:hover, #admission-public a:hover, #streaming-public a:hover, #main-news a:hover, #main-agenda a:hover { text-decoration-color:#f7941d; }
.preview .row, .preview .col-md-12{margin:0 !important;padding:0 !important;background:linear-gradient(135deg, #2d2d2d, #000000);}
.preview .row img{opacity:0.2;filter:alpha(opacity=20);}
.preview .row img:hover{opacity:1;filter:alpha(opacity=100);}
.preview .row:hover{opacity:1;filter:alpha(opacity=100);}
.public{padding:20px 0px !important;}
.public h3{font-size:1.6em;color:#fff;margin:0px;}
videos img{height:auto;}
a.video{float:left;position:relative;}
a.video span{width:100%;height:100%;position:absolute;}
.addition{background:#BDD5EA;padding:20px 0px 30px 0px;color:#2d2d2d;}
.addition .fa{color:#f7941d;}
.publicbar{background:#292d35;color:#e1e1e1;}
.publicbar a, .servicebar a, .languagebar a{color:#fff;}
.publicbar a:hover, .servicebar a:hover{color:#cc0;}
.publicbar, .servicebar{padding:10px 0px;font-size:13px;}
.streaming{background:#ed195a;color:#fff;padding:20px 0px 30px 0px;}
.streaming h4, .addition h4{font-size:1.6em;font-weight:400;margin:0px;}
.streaming p{margin:5px 0px;}
.servicebar{background:#3d4148;color:#e1e1e1;}
.servicebar ul{border-right:1px dotted #e1e1e1;}
.servicebar h4{color:#cc0;}
.servicebar span{font-size:15px;color:#3d4148;background:#fff;padding:5px 10px;}
.servicebar p{margin:50px 0 20px 0;}
.languagebar{background:#4b9dd3;font-size:13px;padding:10px 0px;border-bottom:1px solid #4492c5;text-align:right;}
.languagebar a:hover{color:#2d2d2d;}
.languagebar h3{margin:0;}
.personalbar{text-align:center;}
.agenda .agenda-date { width: 190px; }
.agenda .agenda-date .dayofmonth { font-size: 28px; line-height: 36px; float: left; text-align: center; margin-right: 10px; padding: 10px;  }
.agenda .agenda-date .shortdate { font-size: 0.85em; }
.agenda .agenda-date .shortdate, .agenda .agenda-date .dayofweek {display:table;}
.agenda .agenda-time { width: 140px; font-size: 15px; font-weight: 700; }
.agenda .agenda-time, .agenda .agenda-time a { color: #777; font-size:0.85em; }
.agenda .agenda-events, .agenda .agenda-date, .agenda .agenda-time { padding: 15px 10px 15px 0px; }
.agenda .agenda-events .agenda-event { font-weight: 700; font-size: 18px; }
.agenda .dayofmonth{ background-color: #F9564F; color: #f5f5f5; }
.cal-day-today { background: #F9564F; }
.cal-day-today span[data-cal-date] { color: #fff; }
.thumbnail img{width:100%;}
.thumbnail{padding:0;background:none !important;border:none;}
.thumbnail .caption-full{padding:9px;color:#333;}
.thumbnail_personal{position:relative;width:140px;height:140px;overflow:hidden;border:6px solid #f5f5f5;float:left;margin-top:40px;}
.thumbnail_personal img{position:absolute;left:50%;top:50%;width:100%;height:auto;-webkit-transform:translate(-50%,-50%);-ms-transform:translate(-50%,-50%);transform:translate(-50%,-50%);}
.ratings{padding-right:10px;padding-left:10px;color:#d17581;}
.b-ud{border-top:4px solid #ccc;border-bottom:1px solid #ccc;margin-bottom:10px;}
.b-ud-2{border-top:1px solid #ccc;border-bottom:1px solid #ccc;margin-bottom:10px;}
.b-u{border-top:1px solid #ccc;}
.b-b{border-bottom:1px solid #ccc;}
.b-b-2{border-bottom:1px dotted #ccc;}
.b-083{border-bottom:1px solid #083c53;}
.m-0 { margin: 0 }
.m-t-10{margin-top:10px;}
.m-t-20{margin-top:20px;min-height:400px;}
.m-t-30{margin-top:30px;}
.m-t-40{margin-top:40px;}
.m-t-b-60{margin-top:60px;margin-bottom:100px;}
.m-t-b-60 p{color:#fff;text-shadow:1px 1px 1px #000;}
.m-t-90{margin-top:0px;}
.m-t-110{margin-top:110px;margin-bottom:20px;}
.m-t-140{margin-top:-100px;}
.m-t-300{margin-top:390px;}
.m-t-450{margin-top:550px;}
.m-r-10{margin-right:10px;}
.m-r-20{margin-right:20px;}
.m-l-20{margin-left:20px;}
.m-l-30-min{margin-left:-30px;}
.m-b-20{margin-bottom:20px;}
.p-l-10{padding-left:10px;}
.p-r-10{padding-right:10px;}
.p-t-10{padding-top:10px;}
.p-t-b-10{padding:10px 0px;}
.p-b-10{padding-bottom:10px;}
.p-t-t-35{top:-35px !important;}
.pull-xs-right{margin-left:20px;float:right;}
.fill-p dt{text-align:left;}
.fill-p .table-responsive{border:none;}
.fill-p h2{color:#2d2d2d;font-weight:normal;}
.fill-r h2{color:#fff;font-weight:normal;}
.w-40{width:40%;}
.box-header{color:#444;display:block;padding:10px 0px;position:relative;}
.box-header > .box-tools{position:absolute;right:10px;top:5px;}
.box-header > .box-tools [data-toggle="tooltip"]{position:relative;}
.box-header > .box-tools.pull-right .dropdown-menu{right:0;left:auto;}
.box-header:before, .box-header:after{content:" ";display:table;}
.box-header:after{clear:both;}
.box-header.with-border{border-bottom:1px solid #f4f4f4;}
.box-header > .fa, .box-header > .glyphicon, .box-header > .ion, .box-header .box-title{display:inline-block;font-size:15px;margin:0;line-height:1;color:#333;}
.box-header > .fa, .box-header > .glyphicon, .box-header > .ion{margin-right:5px;}
.boxes{background:#fff;box-shadow:0 5px 5px rgba(0, 0, 0, 0.15);padding:20px;}
.box{position:relative;background:#ffffff;border-bottom:1px solid #f2f2f2;width:100%;}
.collapsed-box .box-header.with-border{border-bottom:none;}
.box.collapsed-box .box-body, .box.collapsed-box .box-footer{display:none;}
.boxes .nav > li > a{padding:10px;}
.boxes a, .intro h3, .view h2, .signout, .tfro{color:#ed195a;}
.boxes a:hover{text-decoration:underline;}
.boxes-2{background:#2f2f2f;color:#d3d3d3;padding:20px;}
.boxes-2 span{color:#cc0;font-size:16px;}
.boxes-2 p, .index p{line-height:1.5;}
.boxes-3{background:#2d2d2d;}
.boxes-4{background:#bd1055;box-shadow:0 5px 5px rgba(0, 0, 0, 0.15);color:#fff;}
.boxes-4:hover{background:#fff;color:#bd1055;}
.boxes-4 a{color:#fff;padding:20px;display:block;}
.boxes-4 a:hover{color:#bd1055;text-decoration:none;}
.boxes-5{background:#99c432;padding:20px;}
.boxes-5 ul, boxes-14 ul{padding:0px;margin:0px;}
.boxes-5 li, .boxes-14 li{padding:5px 0px;list-style:none;}
.boxes-5 a{color:#fff;}
.boxes-5 a:hover{color:#2d2d2d;text-decoration:none;}
.boxes-6 h4{background:#292625;padding:10px 20px;color:#aaa;}
.boxes-7{background:#007bc7;color:#fff;}
.boxes-8{background:#abc1bf;-webkit-box-shadow:inset 0px 21px 40px -10px rgba(0,0,0,0.75);-moz-box-shadow:inset 0px 21px 40px -10px rgba(0,0,0,0.75);box-shadow:inset 0px 21px 40px -10px rgba(0,0,0,0.75);}
.boxes-9{padding:50px 0 40px 160px;}
.boxes-9 h3{text-align:right;color:#2d2d2d;font-weight:normal;}
.boxes-9 a{padding:8px 0px !important;color:#999;}
.boxes-9 li{border-bottom:1px solid #ddd;}
.boxes-10{-webkit-box-shadow:0px 3px 19px 0px rgba(0,0,0,0.75);-moz-box-shadow:0px 3px 19px 0px rgba(0,0,0,0.75);box-shadow:0px 3px 19px 0px rgba(0,0,0,0.75);}
.boxes-11{background:#f2f2f2;}
.boxes-11 .box{background:#f2f2f2;}
.boxes-11 li, .boxes-14 li{padding:5px 0px;border-bottom:1px dotted #ddd;}
.boxes-11 address{margin-top:-20px !important;}
.boxes-12 li{padding:5px 0px;border-bottom:1px solid #f4f4f4;}
.boxes-13 p{display:inline-table;}
.boxes-13 h3{font-weight:bold;}
.boxes-14{background:#f3f3f3;padding:20px;}
.boxes-15{list-style:outside none none;margin-bottom:1.5em;position:relative;width:100%;}
.boxes-15 .category a{color:#ed195a;}
.boxes-15 .content{min-height:208px;padding:0px;}
.boxes-16{left:0;top:200px;width:100%;text-align:center;color:#fff;position:relative;}
.boxes-16 span{background:#ed195a;color:#fff;font-size:20px;padding:10px;}
.boxes-16 h2{color:#fff;font-size:40px;font-weight:bold;}
.boxes-17 h4 { border-left: 5px solid #f7941d; padding-left: 15px; font-weight: 700; margin-bottom: 40px;}
.boxes-17 .btn-info { background: #f7941d;  }
.boxes-17 .box-body { padding: 15px 0px;  margin-bottom: 20px; border-bottom: 1px solid #ccc; }
.layout-boxed{background:#f5f8fa;}
.btn-twitter{background:#00acee;border-radius:0;color:#fff;margin-bottom:5px;}
.btn-twitter:active, .btn-twitter:hover{background:#0087bd;color:#fff;}
.btn-facebook{background:#3b5998;border-radius:0;color:#fff;margin-bottom:5px;}
.btn-facebook:active, .btn-facebook:hover{background:#30477a;color:#fff;}
.btn-googleplus{background:#e93f2e;border-radius:0;color:#fff;margin-bottom:5px;}
.btn-googleplus:active, .btn-googleplus:hover{background:#ba3225;color:#fff;}
.btn-stumbleupon{background:#f74425;border-radius:0;color:#fff;margin-bottom:5px;}
.btn-stumbleupon:active, .btn-stumbleupon:hover{background:#c7371e;color:#fff}
.btn-linkedin{background:#0e76a8;border-radius:0;color:#fff;margin-bottom:5px;}
.btn-linkedin:active, .btn-linkedin:hover{background:#0b6087;color:#fff}
.btn-share{background:#135b7b;border-radius:0;color:#fff;padding:5px 10px;}
.btn-share:active, .btn-share:hover{background:#083c53;color:#fff;}
.btn-twitter:link, .btn-twitter:visited, .btn-facebook:link, .btn-facebook:visited, .btn-googleplus:link, .btn-googleplus:visited, .btn-stumbleupon:link, .btn-stumbleupon:visited, .btn-linkedin:link, .btn-linkedin:visited, .btn-share:link, .btn-share:visited{color:#fff;}
.btn-index{font-size:11px !important;padding:0px 4px !important;}
.share [class*="fab fa-"], .share [class*="fas fa-"]{background-color:#fff;border-radius:25px;color:#292d35;display:inline-block;height:25px;line-height:25px;margin:auto 3px;width:25px;font-size:13px;text-align:center;}
.share .fa-twitter:hover{background-color:#00acee;color:#fff;}
.share .fa-facebook:hover{background-color:#3b5998;color:#fff;}
.share .fa-google-plus:hover, .share .fa-youtube:hover{background-color:#e93f2e;color:#fff;}
.share .fa-rss:hover{background-color:#e2602a;color:#fff;}
.share .fa-instagram:hover{background-color:#ac1183;color:#fff;}
.btn{border-radius:0px;}
.btn{border-radius:3px;-webkit-box-shadow:none;box-shadow:none;border:1px solid transparent;font-size:12px;padding:5px 12px;}
.btn-box-tool{padding:5px;font-size:12px;background:transparent;box-shadow:none!important;color:#97a0b3;}
.btn-box-tool:active{outline:none!important;}
.btn-personal{background:#4f7591;color:#fff;margin:20px 0px;}
.btn-personal:hover{background:#ed195a;color:#fff;}
#main-public .btn-info{padding:8px 10px;margin-top:20px;}
#main-public .btn-flat{display:block;width:100%;}
.open .btn-box-tool, .btn-box-tool:hover{color:#606c84;}
.dir > li > a{padding:2px 5px;font-size:11px;}
.listing li:nth-child(2n+0){background-color:#c5c5c5;background-image:linear-gradient(to bottom, #c5c5c5, #a6a6a6);}
.listing li{background-color:#666;background-image:linear-gradient(to bottom, #666, #4a4a4a);padding:10px 20px;}
.listing li a{color:#fff;}
.listing2 li{padding:8px 0px;border-bottom:1px solid #ddd;font-size:13px;}
.listing2 li a, .listing4 a{font-size:13px;}
.listing3 li a{color:#292929;}
.listing3 li:nth-child(2n+0){background-color:#f5f5f5;}
.listing3 li{background-color:#ffffff;padding:5px 20px;border-bottom:1px solid #ddd;}
.listing5 li{list-style:outside none none;margin-bottom:1.5em;position:relative;width:100%;}
.listing5 li a{display:block;padding:10px 10px 10px 90px;}
.listing5 h3 { font-size:42px; font-weight: 700; margin: 0; text-align: center;}
.listing5 h4 { font-size: 22px; font-weight: 700; margin: 0; text-align: center}
.listing5 h5 { font-weight: 700; }
.features-list i{background-color:#fff;border-radius:50%;color:#33b2c3;display:block;font-size:25px;height:50px;line-height:50px;margin:10px auto;text-align:center;top:10px;transition:all 0.5s ease 0s;width:50px;}
.randbg{background:url('back1.jpg') no-repeat fixed;-webkit-background-size:cover;-moz-background-size:cover;-o-background-size:cover;background-size:cover;}
.randbg.bg1{background-image:url('back1.jpg');}
.randbg.bg2{background-image:url('back2.jpg');}
.randbg.bg3{background-image:url('back3.jpg');}
@media only screen and (max-width:420px){.logo{background-position:center 0px;padding:0px;border-bottom:1px dotted #d1e3ef;margin-bottom:20px;}
.logo h1{margin-top:100px;}
}
@media only screen and (max-width:420px){.languagebar, .logo{text-align:center !important;}
.share{margin:10px 0px;}
#main-public .btn-info{margin-bottom:20px;}
}
@media only screen and (max-width:420px){.logo h1{margin-top:110px !important;}
}
@media only screen and (max-width:420px){.boxes-15{background:none;box-shadow:none;float:left;padding:0 0 10px 0;border-bottom:1px dotted #bbb;}
.boxes-15 .content{min-height:0px !important;}
.boxes-15 .content h4{font-size:15px;margin:0px;}
.boxes-15 .content .pull-right{width:100%;}
}
@media only screen and (max-width:420px){.carousel-inner > .item > img{height:100% !important;}
}
@media screen and (max-width:480px){a.video span{background-size:200%;}
}
@media screen and (max-width:480px){.input-group{width:150px;}
}
@media only screen and (min-width:480px) and (max-width:1200px){.container{padding:0 20px;}
}
@media screen and (min-width:480px) and (max-width:1200px){.input-group{width:200px;}
}
@media screen and (min-width:480px){.boxes-15 .content{}
}
@media only screen and (max-width:719px){.container{padding:0 20px;}
#header{padding-bottom:0;}
#header .pad{padding-top:0;padding-bottom:0;}
.topbar-enabled #header{padding-top:0;}
.search-expand{right:0;left:auto;top:50px;width:320px;}
#myCarousel2 .carousel-inner > .item > img {left:0px !important;}
#myCarousel2 .carousel-inner {height:250px;}
#myCarousel > .carousel, #headline .carousel { height: 440px; }
#myCarousel .carousel-inner { height: 250vh;}
#myCarousel .carousel-caption { padding-bottom: 190px; }
#myCarousel .carousel-indicators { bottom: -40px; } 
}
@media (max-width:767px){.index .thumbnail, .preview img{float:left;width:20%;margin-right:4%;}
.index .caption{float:left;width:75%;height:auto;}
.index .related{width:100% !important;min-height:120px;}
.desc{position:relative !important;color:#333 !important;text-shadow:none !important;}
.preview .row, .preview .col-md-12{background:#fff !important;}
.preview{background:#fff !important;box-shadow:0 5px 5px rgba(0, 0, 0, 0.15);padding:10px !important;}
.preview .row img{opacity:1 !important;filter:alpha(opacity=100) !important;}
.table-responsive {border:none;}
}
@media (max-width:767px){.boxes-16 h2{font-size:20px; } .listing5 h3 { font-size:28px; } .listing5 h4, .streaming h4, .addition h4, .carousel-caption h2, .public h3,#main-news h2, #main-agenda h2, #main-multimedia h2, #main-foto h2, .cat-title { font-size: 14px; } .listing5 h5 { font-weight: normal; }
}
@media (max-width:767px){.logo h1{margin-top:10px;} .addition .fa-3x, .public .fa-3x { font-size: 25px; } .view h2 { font-size: 20px; }
}
@media (max-width:767px){.m-l-30-min{margin-left:0px !important;}
}
@media (max-width:767px){.m-t-b-60{margin-top:0px !important;margin-bottom:0px !important;}
}
@media screen and (max-width:767px){.carousel-caption{left:10%;right:10%;}
.carousel2-caption{left:10%;right:10%;}
}
@media only screen and (min-width:767px){.thumbnail img{height:145px !important; width: 240px !important} .boxes-17 .form-horizontal .control-label { text-align: left !important; }
}
@media (min-width:1200px){.container{width:1080px;}
}
@media only screen and (min-width:1200px){.boxes-9{padding:0 0 40px 0px;}
.carousel-inner .item{background:none !important;}
}
@media only screen and (min-width:1200px){.fill-p h2{color:#fff;}
.m-t-140{margin-top:-140px;}
}
@media only screen and (min-width:1200px){.thumbnail_personal{margin-top:90px;margin-left:100px;}}
@media only screen and (min-width:1200px){.m-t-140{margin-top:-140px;}
}
@media only screen and (min-width:1200px){.m-t-90{margin-top:90px;}
}
@media (max-width:1200px){.collapse.in{display:block !important;}
.carousel-inner > .item > img{height:100% !important;}
}
@media (max-width:1200px){.m-t-110{margin-top:0px !important}
.boxes-14{padding:0px !important;}}