@charset "utf-8";
/*基本 */
body, h1, h2, h3, h4, h5, h6, ul, ol, li, dl, dt, dd, p, form, fieldset, legend, input, img,sub,sup{margin:0;padding:0;}
img{border:none;}
ul,ol,li{list-style:none;}
a{color:#333; text-decoration:none;}
a:hover{ text-decoration:underline;}
h3{font-size:12px;}
sub,sup{font-size:12px; font-style:normal; vertical-align:bottom; margin-left:5px; font-weight:normal; text-decoration:underline;}
body{font-family:"Microsoft Yahei",Arial, Helvetica; font-size:12px; background:#24549A; color:#333;}
.clink{color:#F60}
.clink:hover{color:#F00}
.red{color:#F00}
.green{color:#008000;}
.blue{color:#00F;}
.cl{clear:both;}
.fl{float:left; display:inline}
.fr{float:right; display:inline}
.mt5{margin-top:5px;}
.mb5{margin-bottom:5px;}
.ml5{margin-left:5px;}
.mr5{margin-right:5px;}
.m5{clear:both; height:5px; overflow:hidden}
b{font-weight:bold;}


.ad960{clear:both;text-align:center; width:960px; overflow:hidden}
.ad300{clear:both;overflow:hidden; text-align:center; width:300px;}
.ad655{clear:both;overflow:hidden; text-align:center; width:655px;}
/*公共部分 */
#wrap{width:960px; padding:0 8px; background-color:#FFF; margin:0 auto; overflow:hidden;}
#topbar{width:100%; height:26px; background:url(nav.gif) repeat-x 0 -81px; overflow:hidden; margin-bottom:5px;}
#topbar .gt{width:960px; margin:5px auto;}
#topbar .f_r{float:right; display:inline}
#topbar .f_l{float:left; display:inline; margin-left:5px;}

#header{width:960px; overflow:hidden; margin:0 auto 5px auto; height:60px; overflow:hidden;}
#header .logo{width:200px; height:60px; display:block; float:left; background: url(logo.png);}
#header .logo a{width:200px; height:60px; display: block; cursor: pointer; line-height: 400px; overflow: hidden;}
#header .gt_mid{width:468px; height:60px; float:right; margin-right:10px;}
#header .gt_r{width:250px; height:48px; padding:5px; float:right; display:inline; border:1px solid #DADADA}
#header .gt_r a{display:inline-block; float:left; width:120px; height:17px; margin-right:5px; overflow:hidden;}


#menu{width:960px; height:27px; margin:0 auto; overflow:hidden}
#menu .l{ height:27px; width:4px; display:block; float:left; background:url(nav.gif) no-repeat;}
#menu .list{ height:27px; width:930px; display:inline-block; float:left; background:#1A4E95 url(nav.gif) repeat-x; padding-left:30px;}
#menu .r{ height:27px; width:4px; display:block; float:right; background:url(nav.gif) no-repeat;}
#menu .list a{display:inline-block; float:left; height:20px; padding:7px 10px 0 10px; margin:0 5px; color:#F7FCFD; font-size:12px;letter-spacing:1px;}
#menu .list a:hover{color:#FF0; background-color:#FFF;background:#CADDF6 url(nav.gif) repeat-x 0 -27px; text-decoration:none; color:#006}
#menu .list a.this{color:#FF0; background-color:#FFF;background:#CADDF6 url(nav.gif) repeat-x 0 -27px; text-decoration:none; color:#006}
#menu .list span{display:block; float:left; width:1px; height:27px; background:url(nav.gif) no-repeat 0 -54px;}

.subnav{width:938px; margin:0 auto 5px auto; height:24px; line-height: 24px; border:1px solid #E6E6E6; background-color:#FCFCFC;padding:0px 10px 0 10px; border-top:none; overflow:hidden;}
.subnav .hidden,.subnav .show{padding-top:3px; float:left; display:inline; text-align:left;}
.subnav .hidden a,.subnav .show a{ margin:0px 5px 0 5px;}
.subnav .rlink{padding-top:3px; float:right; display:inline; text-align:right;}
.subnav .rlink a{ margin:0px 5px 0 5px;}
.subnav .hidden{display:none; overflow:hidden;}
.subnav .show{display:block; overflow:hidden}


#searchbar{ overflow:hidden; width:500px; margin:0 auto}
#searchbar #searchform{float:left; margin-right:5px; height:28px; overflow:hidden;}
#searchbar #kw{width:150px; overflow:hidden; height:16px; margin:0;}
#searchbar #searchbtn{width:40px; height:22px; text-align:center; overflow:hidden; background-color:#06C; border:none; color:#FFF; padding:2px 0 3px 0; margin:-3px 0 0 0;}
*+ html #searchbar #searchbtn{width:40px; height:20px;padding:2px 0 0 0;}
* html #searchbar #searchbtn{width:40px; height:20px; padding:2px 0 0 0;}
#searchbar .ulinks{padding:4px 0 0 0;}

#slider{width:288px;height:205px;margin:0;position:relative;}
.slider_list li{position:absolute;display:none;}
.slider_list li img{width:288px;height:205px;}
.slider_list li:first-child{display:block;}
.slider_icon{position:absolute;z-index:1;right:5%;bottom:10px;font-size:0;padding:4px 8px;border-radius:12px;background-color:hsla(0,0%,100%,.3);}
.slider_icon i{display:inline-block;width:12px;height:12px;border-radius:50%;margin:0 5px;}
.btn{background:#fff;}
.arrow{display:none;width:30px;height:60px;background-color:rgba(0,0,0,.2);position:absolute;top:50%;margin-top:-30px;}
.prve{left:0;}
.next{right:0;}
.arrow span{display:block;width:10px;height:10px;border-bottom:2px solid #fff;border-left:2px solid #fff;}
.slider_left{margin:25px 0 0 10px;transform:rotate(45deg);}
.slider_right{margin:25px 0 0 5px;transform:rotate(-135deg);}
.arrow:hover{background:#444;}
#slider:hover .arrow{display:block;}
.btn_act{background:#db192a;}



/*内容部分------------------------------------- */
#main{width:960px; overflow:hidden; margin:0 auto 8px auto;}
/*首页第一屏 */
#main #indextop{width:960px; margin:0 auto 5px auto; overflow:hidden; height:384px}
#main #indextop .left{width:290px; float:left; display:inline; margin-right:5px;}
#main #indextop .left .focus{width:288px; height:205px; overflow:hidden; margin-bottom:5px;border:#BFD2E1 1px solid;}
#main .commend{width:288px; height:170px; border:#BFD2E1 1px solid; overflow:hidden}
#main .commend h3{ height:25px; background:url(nav.gif) repeat-x 0 -107px; border-bottom:1px solid #BFD2E1; color:#1C4F96; letter-spacing:1px;}
#main .commend h3 .title{display:inline-block; float:left; background:#F0F4F6 url(images.gif) no-repeat 0 -2px; padding-left:17px; margin:6px 0 0 10px;}
#main .commend ul{margin:8px;}
#main .commend ul li{overflow:hidden; background:url(images.gif) no-repeat -297px 8px; padding-left:10px; line-height:18px; height:23px; vertical-align:bottom;}
* html #main .commend ul li{background:url(images.gif) no-repeat -297px 6px;}
*+ html #main .commend ul li{background:url(images.gif) no-repeat -297px 6px;}
#main .commend ul li a{display:block; float:left;}
#main .commend ul li .date{display:block; float:right; color:#9A9A9A}

#main .right_commend{ width: 298px; clear: both; height: 198px;}
#main .right_commend h3{}

#main #indextop .mid{width:358px; height:382px; border:1px solid #BFD2E1; float:left; background:url(mbg.gif) repeat-x; overflow:hidden}
#main #indextop .mid .new{margin:10px; height:165px; padding-bottom:8px; border-bottom:1px dashed #CCC}
#main #indextop .mid .new h2{text-align:center; margin-bottom:5px;}
#main #indextop .mid .new h2 a{font-size:16px; color:#27569C; text-align:center}
#main #indextop .mid .new .desc{line-height:18px; color:#666666}

#main #indextop .mid .new .hdnew{margin:10px 0 0 0;}
#main #indextop .mid .new .hdnew li{width:160px; display:inline; float:left; margin:0 5px 5px 0; letter-spacing:1px;}
#main #indextop .mid .new .hdnew li a{ color:#006;}

#main #indextop .mid .newlist{margin:0 10px 10px 10px;}
#main #indextop .mid .newlist li{height:23px; overflow:hidden; line-height:18px; background:url(images.gif) no-repeat 0px -22px; padding-left:10px; margin:0px;vertical-align:bottom;}
* html #main #indextop .mid .newlist li{ background:url(images.gif) no-repeat 0px -22px; }
*+ html #main #indextop .mid .newlist li{ background:url(images.gif) no-repeat 0px -22px; }
#main #indextop .mid .newlist li a{display:block; float:left; font-size:14px;}
#main #indextop .mid .newlist li .date{display:block; float:right; color:#9A9A9A}

#main #indextop .right{width:300px; height:384px; display:inline; float:right; overflow:hidden}
.navlink{width:300px; height:200px; background:url(navlink.gif) no-repeat; overflow:hidden; margin-bottom:5px; overflow:hidden}
.navlink .content{margin:40px 20px 15px 20px;}
.navlink .content .list{height:25px;}

/* 滑动门--------------- */
.tab_box{width:300px; height:179px;border:0px solid #BFD2E1; clear:both; float:left; overflow:hidden}

.tab_box .content{padding:6px;clear:both;border:1px solid #BFD2E1;border-top:0;text-align:left; height:142px;}


.tab_box .tb_{background-image: url(tabs1.gif); background-repeat: repeat-x;}
.tab_box .tb_ ul{height:24px;}
.tab_box .tb_ li{float:left;height: 24px;line-height:1.9;width:93px; margin-right:7px; text-align:center;cursor:pointer;}

.tab_box .no{ background-image:url(tabs2.gif); background-repeat: no-repeat; color:#1F3A87 ;}
.tab_box .hover{ background-image: url(tabs3.gif); background-repeat: no-repeat; color:#1F3A87; font-weight:bold }
.tab_box .show{display:block; height:140px; overflow:hidden}
.tab_box .hidden{display:none;height:140px; overflow:hidden}
.tab_box .content ul li{line-height:18px; margin-bottom:2px; letter-spacing:1px;}
.tab_box .content ul li span{color:#006; margin-right:4px;}

/*hd_box*/

.boxes{width:960px; margin:0 auto 5px auto; overflow:hidden}

.hd_box{width:298px; height:170px; border:#BFD2E1 1px solid; overflow:hidden;}
.hd_box h3{ height:25px; background:url(nav.gif) repeat-x 0 -107px; border-bottom:1px solid #BFD2E1; color:#1C4F96;letter-spacing:1px;}
.hd_box h3 .title{display:inline-block; float:left; background:url(images.gif) no-repeat 5px 3px; padding-left:20px; line-height:25px;color:#1C4F96}
.hd_box h3 .title a{color:#1C4F96}
.hd_box h3 .more{display:inline-block; float:right; margin:6px 8px 0 0; color:#999}
.hd_box ul.alist{margin:6px 8px 5px 8px;}
.hd_box ul.alist li{overflow:hidden; background:url(images.gif) no-repeat -297px 8px; padding-left:10px; line-height:18px; height:23px;}
* html .hd_box ul.alist li{background:url(images.gif) no-repeat -297px 6px;height:20px;}
*+ html .hd_box ul.alist li{background:url(images.gif) no-repeat -297px 6px;height:20px;}
.hd_box ul.alist li a{display:block; float:left;}
.hd_box ul.alist li .date{display:block; float:right; color:#9A9A9A}
.hd_box ul.nav2 li{width:131px; display:inline; float:left}

     /*内容区图片列表*/
.hd_box ul.plist{margin:8px 5px 5px 10px;}
.hd_box ul.plist li{width:142px; height:145px; overflow:hidden; display:inline; float:left; margin:0 8px 0 8px; text-align:center}
.hd_box ul.plist li .pic{width:140px; height:120px; display:block; overflow:hidden; margin-bottom:4px; border:1px solid #CCC;}
.hd_box ul.plist li .pic:hover{border:1px solid #FC0}
.hd_box ul.plist li img{width:140px; height:120px;}
.hd_box ul.plist li .text{display:block;}
     /*侧边图片列表*/
.hd_box ul.splist{margin:8px 5px 5px 10px;}
.hd_box ul.splist li{width:122px; height:125px; overflow:hidden; display:inline; float:left; margin:0 8px 0 8px; text-align:center}
.hd_box ul.splist li .pic{width:120px; height:90px; display:block; overflow:hidden; margin-bottom:4px; border:1px solid #CCC;}
.hd_box ul.splist li .pic:hover{border:1px solid #FC0}
.hd_box ul.splist li img{width:120px; height:90px;}
.hd_box ul.splist li .text{display:block;}

.hd_box .tj{height:82px; overflow:hidden; margin:8px 8px 2px 8px;}
.hd_box .tj .text{width:210px; float:left}

.hd_box .tj .text h4 a{font-size:12px; color:#333; height:15px;}
.hd_box .tj .text span{color:#999; font-size:12px; text-indent:25px; line-height:18px;}
.hd_box .tj .pic{display:block; float:right; width:110px; height:80px; border:1px solid #CCC; overflow:hidden}
.hd_box .tj .pic:hover{border:1px solid #F90}
.hd_box .tj .pic img{width:110px; height:80px; }

.hd_box .linklist{margin:8px 10px 8px 10px;}
.hd_box .linklist a{margin:5px 10px 5px 10px;}

.box_piclist{width:653px; height:180px;}
.box_half{width:323px;height:215px;}

.num6{height:168px; overflow:hidden}
.side8{height:215px; width:298px; overflow:hidden}
.pside{width:298px; height:280px;}
.no_mb{margin-bottom:0;}
.autoH{height:auto;}

/*boxes*/



/*右侧 Sidebar*/

#sidebar{width:300px; float:right; overflow:hidden; margin-bottom:5px;}

/*左侧 left*/

#left{overflow:hidden; float:left;width:655px;}
#left .con{width:653px;border:#BFD2E1 1px solid; margin-bottom:5px; overflow:hidden}
#left .head{ height:25px; background:url(nav.gif) repeat-x 0 -107px; border-bottom:1px solid #BFD2E1; color:#1C4F96;letter-spacing:1px;}
#left .head .title{display:inline-block; float:left; margin:5px 0 0 8px;color:#1C4F96}
#left .head .title a{color:#1C4F96; font-size:12px;}
#left .head .title a.me{font-weight:bold;}
#left .hd_content{margin:8px;}
#left h1{ text-align: center; font-size: 22px; padding: 15px 0;}
    /*文章标题+描述列表*/
#left .article{overflow:hidden; border-bottom:1px dashed #CCC; padding-bottom:3px; margin-bottom:10px;}
#left .article h1{height:20px; overflow:hidden; padding-left:15px; background:url(images.gif) no-repeat 0 -46px; margin-bottom:4px;}
#left .article h1 a{display:block; float:left; color:#204E7D; font-size:14px;}
#left .article h1 .date{display:block; float:right; font-weight:normal; color:#666}

#left .article .gt_text{margin-bottom:5px;}
#left .article .gt_text .pic{display:block; float:left; width:120px; height:120px; border:1px solid #CCC; overflow:hidden }
#left .article .gt_text .pic:hover{border:1px solid #FC0;}
#left .article .gt_text img{width:120px; height:120px;}
#left .article .gt_text .textss{ width:510px; float:right; height:120px; overflow:hidden;text-indent:24px;line-height:18px; color:#878787;}
#left .article .texts{ overflow:hidden; text-indent:24px; line-height:18px; color:#878787; margin-bottom:5px;}
#left .article .info{height:18px;}

#left h2.title{font-size:16px; text-align:center; margin:15px auto 10px auto;}
#left .post_info{color:#999; text-align:center;margin-bottom:10px; border-bottom:1px #CCC dashed; padding-bottom:5px;}
#left .post{ margin:2px 2px 10px 2px; line-height:26px; font-size:14px;}
#left .next{clear:both; margin:20px 0 10px 0; font-size:14px; line-height:20px;}

.post p{ text-indent: 2em; margin-bottom: 5px;}

     /*内容图片列表*/
#left ul.piclist{margin:8px 5px 5px 0px;}
#left ul.piclist li{width:142px; height:165px; overflow:hidden; display:inline; float:left; margin:0 8px 0 8px; text-align:center}
#left ul.piclist li .pic{width:140px; height:120px; display:block; overflow:hidden; margin-bottom:4px; border:1px solid #CCC;}
#left ul.piclist li .pic:hover{border:1px solid #FC0}
#left ul.piclist li img{width:140px; height:120px;}
#left ul.piclist li .text{display:block;}

.pages{text-align:center; clear:both; margin:20px auto 10px auto;}
.pages li{float:left; display:inline; height:25px; padding:3px 2px;}
.pages li.thisclass{color:#F00;}
.pages a{padding:2px 5px; border:1px solid #CCC; margin:0 2px; height:18px; overflow:hidden}
.pages a:hover{ background-color:#39F;}
.pages strong{padding:0 5px 0 3px; color:#060}
.pages .pageinfo{margin-left:15px;}

/*首页滚动*/
#imglist {
background: #FFF;
overflow:hidden;
width: 640px; margin-left:6px;
}
#inimglist {
float: left;
width: 800%;
}
#imglist1 {
float: left;
}
#imglist2 {
float: left;
}

/*底部信息*/
#footer{width:958px; margin:0 auto; text-align:center;  border-left:1px solid #B5BBD2; border-right:1px solid #B5BBD2; height:90px; background:url(footbg.gif) repeat-x; padding-top:7px;}
#footer .nav{text-align:center; margin:0px 0 8px 0; height:25px;}
#footer .nav a{margin:0 5px 0 5px;}
#footer .copyright{line-height:20px;}

/*by huoduan.com*/
